@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap');

:root {
    --cor-principal: #B30000;
    --cor-fundo: #2E2836;
    --cor-escrita: #FFFFFF;
    --cor-botao-hover: #b300004f;

    --fonte-titulo: 'Krona One', sans-serif;
    --fonte-escrita: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

.cabecalho {
    padding: 2% 0 2% 15%;
    /* border-bottom: 0.4px solid var(--cor-escrita); */
}

.cabecalho__menu {
    display: flex;
    gap: 5rem;
}

.cabecalho__menu__link {
    color: var(--cor-principal);
    text-decoration: none;
    font-family: var(--fonte-escrita);
    font-weight: 600;
    font-size: 1.5rem;
}

.cabecalho__menu__link:hover {
    color: var(--cor-escrita);
}

body {
    /*height: 100vh; */
    box-sizing: border-box;
    background-color: var(--cor-fundo);
    color: var(--cor-escrita);
}

.principal {
    /* margin: 10% 20%; */
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
    /* border-top: 0.4px solid var(--cor-escrita); */
}

.principal__texto {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.principal__texto__titulo {
    font-family: var(--fonte-titulo);
    font-size: 2rem;
}

.principal__texto__pequeno {
    font-size: 1.5rem;
    font-family: var(--fonte-escrita);
}

.principal__texto__sobre-mim {
    font-family: var(--fonte-escrita);
    font-size: 1rem;
}

.principal__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 0.75rem;
}

.principal__links__subtitulo {
    font-family: var(--fonte-titulo);
    font-weight: 400;
    font-size: 1.5rem;
}

.principal__links__botao {
    display: flex;
    justify-content: center;
    gap: 1rem;
    text-decoration: none;
    /* background-color: #b30000; */
    color: var(--cor-escrita);
    font-size: 1.5rem;
    font-weight: 400;
    font-family: var(--fonte-escrita);
    width: 100%;
    text-align: center;
    border: 0.2rem solid var(--cor-principal);
    border-radius: 2rem;
    padding: 0.65rem 0;
}

.principal__links__botao:hover {
    background-color: var(--cor-botao-hover);
}

.principal__links__botao img {
    filter: invert(100%) grayscale(0%) saturate(95%);
}

.principal__links__botao:hover img {
    filter: invert(0%) grayscale(100%) saturate(1000%) sepia(100%) brightness(1000%);
}

.foto-perfil {
    border-radius: 2rem;
    /*width: 360px;
    height: 400px;*/
    width: 36%;
    /*height: 32%;*/
    filter: grayscale(50%);
}

.destaque {
    color: var(--cor-principal);
}

.rodape {
    padding: 1.5rem;
    background-color: var(--cor-principal);
    color: var(--cor-fundo);
    text-align: center;
    font-family: var(--fonte-escrita);
    font-weight: 400;
    font-size: 1.25rem;
}

@media (max-width: 800px) {
    .cabecalho {
        padding: 6%;
    }

    .cabecalho__menu {
        justify-content: center;
    }

    .principal {
        flex-direction: column-reverse;
        padding: 8% 5% 5% 5%;
        /* padding: cima direita baixo esquerda */
    }

    .principal__texto {
        width: auto;
        gap: 2.5rem;
    }

    .foto-perfil {
        width: 50%;
    }


}
